/* https://www.scottohara.me/blog/2019/01/12/lists-and-safari.html */
.plain-list {
  list-style: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg'/%3E");
  padding-left: 0;
}

[tabindex]:not([tabindex="-1"]), a, button, input, select, textarea {
  position: relative;
  z-index: 2;
  outline-width: 3px !important;
  outline-style: dotted !important;
  outline-color: transparent;
  outline-offset: 6px;
  transition: outline-offset .1s ease;
}

*:focus {
  outline-color: var(--color);
  outline-offset: 2px !important;
}

[tabindex="-1"] {
	outline: 0 !important;
}

.max-char {
  max-width: 68ex;
}

input::placeholder {
  color: var(--color) !important;
}

body.set-reduce-motion {
  *,
  *::before,
  *::after {
    transition: none !important;
    animation: none !important;
    scroll-behavior: auto !important;
  }
}

@media(prefers-reduced-motion: reduce) {
  *,
  *::before,
  *::after {
    transition: none !important;
    animation: none !important;
    scroll-behavior: auto !important;
  }
}