/* https://www.scottohara.me/blog/2019/01/12/lists-and-safari.html */
.plain-list {
  list-style: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg'/%3E");
  padding-left: 0;
}

@media(prefers-reduced-motion: reduce) {
  *,
  *::before,
  *::after {
    transition: none !important;
    animation: none !important;
    scroll-behavior: auto !important;
  }
}

[tabindex]:not([tabindex="-1"]), a, button, input, select, textarea {
  position: relative;
  z-index: 2;
  outline: 2px solid transparent;
  outline-offset: 6px;
  transition: outline-offset .1s ease;
}

*:focus {
  outline-color: #573E48;
  outline-offset: 3px;
}

[tabindex="-1"] {
	outline: 0
}

.max-char {
  max-width: 66ch;
}

::placeholder {
  color: var(--color) !important;
}