.custom-block.figure {
  @apply relative w-full;
  
  &[data-type="bq"] {
    @apply p-10 border-b border-solid rounded-md;
    background-color: var(--bg-secondary);
    border-bottom-width: 6px;
    border-color: var(--border-color);

    &:before {
      @apply absolute text-accent border-none;
      content: '“';
      top: -70px;
      left: -20px;
      font-size: 150px;
      font-family: "Helvetica";
    }

    p {
      @apply m-0;
    }

    > blockquote {
      @apply mb-6;
    }

    > figcaption {
      @apply text-left;
    }
  }
  > figcaption {
    @apply w-full text-center text-base;
  }
}