.custom-block.figure {
  @apply relative w-full;
  
  &[data-type="bq"] {
    @apply p-10 border-b border-solid rounded-md;
    background-color: var(--bg-secondary);
    border-bottom-width: 6px;
    border-color: var(--border-color);

    &:before {
      @apply absolute text-accent border-none;
      content: '“';
      top: -70px;
      left: -20px;
      font-size: 150px;
      font-family: "Helvetica";
    }

    p {
      @apply m-0;
    }

    > blockquote {
      @apply mb-2;
    }

    > figcaption {
      @apply mt-3 text-left;
      font-size: inherit;
    }
  }
  > figcaption {
    @apply w-full text-center text-base;

    code {
      @apply text-base;
    }
  }
}

.custom-block.alert {
  @apply px-6 pt-5 pb-4;
  &[data-alert] {
    @apply border border-solid rounded-md;
    border-bottom-width: 6px;
    > .custom-block-title {
      @apply uppercase font-bold text-base block mb-2;
    }
    > p {
      @apply m-0;
    }
  }
  &[data-alert="tip"] {
    background-color: var(--bg-custom-block-tip);
    border-color: var(--border-color-custom-block-tip);
  }
  &[data-alert="warning"] {
    background-color: var(--bg-custom-block-warning);
    border-color: var(--border-color-custom-block-warning);
  }
  &[data-alert="danger"] {
    background-color: var(--bg-custom-block-danger);
    border-color: var(--border-color-custom-block-danger);
  }
}