.content__default {
  @apply text-lg;
  display: block;
  min-height: 150px;
  max-width: 66ch;

  p {
    word-wrap: break-word;
    margin: 40px 0;

    abbr {
      cursor: help;
      border-bottom: none;
      text-decoration: underline;
      text-decoration-style: dotted;
    }
  }

  p, ol, ul {    
    @apply leading-8;
  }

  h4, h5, h6 {
    .header-anchor {
      @apply hidden;
    }
  }

  h1 {
    @apply font-bold text-3xl;
  }

  h2 {
    @apply font-bold text-2xl;
    margin-top: 60px;
    z-index: 2;
    line-height: 1.04em;
    margin-bottom: 0;
    

    + p {
      margin-top: 30px;
    }    
  }

  h3 {
    @apply text-xl;
    line-height: 1.10em;
    font-weight: bold;
  }

  h1, h2, h3 {
    position: relative;
    .header-anchor {
      @apply text-accent;
      position: absolute;
      top: 0px;
      left: -30px;
      padding-right: 4px;
      opacity: 0;
      text-decoration: none;
      transition: opacity .5s;
      z-index: 1;

      &:hover {
        opacity: 1 !important;
      }
    }

    &:hover {
      .header-anchor {
        opacity: .2;
      }
    }
  }

  p, h2, h3 {
    code {
      @apply font-bold border border-solid;
      background-color: var(--bg-sidebar);
      border-color: var(--border-color-code-inline);
      padding: 2px 5px;
    }
  }

  a:not(.header-anchor) {
    @apply border-b-2 border-solid border-accent;
    position: relative;
    text-decoration: none;

    &:hover {
      border-color: var(--color);
    }

    .icon.outbound {
      color: inherit;
    }
  }

  strong {
    font-weight: 700;
    margin: 0 0.2em;
  }

  code, kbd {
    display: inline;
    padding: .125em .25em;
    box-shadow: none;
  }

  ol, ul {
    padding-left: 2em;
    margin-top: 30px;
    margin-bottom: 40px;

    li:not(:last-child) {
      margin-bottom: 16px;
    }
  }

  ul li:before {
    @apply text-accent;
    content: "•";
    font-weight: bold;
    display: inline-block; 
    width: 1em;
    margin-left: -2em;
  }

  .table-wrapper {
    @apply w-full overflow-auto whitespace-no-wrap;
  }

  table {
    border: 1px solid var(--bg-sidebar);
    border-collapse: collapse;
    border-spacing: 0;

    thead {
      tr {
        background-color: var(--bg-hover-sidebar);
      }
    }

    tbody {
      tr {
        &:hover {
          background-color: var(--bg-sidebar);
        }
      }
    }

    td, th {
      border: 1px solid var(--bg-sidebar);
      padding: .375em .75em;
    }
  }

  hr {
    @apply border border-light-200;
  }

  video, audio {
    max-width: 100%;
  }

  img {
    @apply w-full shadow-lg rounded-lg;
    max-width: 100%;
    margin: 0 auto;
    margin-top: 30px;
    margin-bottom: 30px;
  }

  .observer {
    text-align: center;
  }

  code[class*=language-], pre[class*=language-] {
    width: 100%;
    @apply text-base;
    background: none;
    text-align: left;
    white-space: pre;
    word-spacing: normal;
    word-break: normal;
    word-wrap: normal;
    line-height: 1.5;
    tab-size: 4;
    hyphens: none;
    font-weight: 400;
    color: #C0A5D9;

    @screen sm {
      white-space: pre-wrap;
    }
  }

  pre[class*=language-] {
    @apply p-6;
    overflow: auto;

    code {
      width: 100%;
      margin: 0;
      padding: 0;
      font-family: 'Hack', monospace;
    }
  }
    
  div[class*=language-] { 
    width: 100%;
    background-color: var(--bg-code-block);
    padding: .1em;
    white-space: normal;
  }

  .token.block-comment,.token.cdata,.token.comment,.token.doctype,.token.prolog { color:#999 }
  .token.punctuation { color:#ccc }
  .token.attr-name,.token.deleted,.token.namespace,.token.tag { color:#E58A85}
  .token.function-name { color:#6196cc }
  .token.boolean,.token.function,.token.number { color:#55b5db }
  .token.class-name,.token.constant,.token.property,.token.symbol { color:#f8c555 }
  .token.atrule,.token.builtin,.token.important,.token.keyword,.token.selector { color:#e6cd69 }
  .token.attr-value,.token.char,.token.regex,.token.string,.token.variable { color: #A0D4B4 }
  .token.entity,.token.operator,.token.url { color: #9fca56 }
  .token.bold,.token.important { font-weight: 700 }
  .token.italic { font-style: italic }
  .token.entity { cursor: help }
  .token.inserted { color: green }
  .token.template-string > .token.string { color: #ccd0d4 }

  .highlight-lines {
    @apply absolute top-0 left-0 w-full;
    line-height: 1.3;
    padding-top: 5.2rem;

    .highlighted {
      background-color: rgba(0, 0, 0, .5);
    }
  }

  *:first-child {
    margin-top: 0;
  }

  iframe {
    margin-top: 20px;
    margin-bottom: 20px;
  }

  // .custom-block {
  //   &-obs, &-bq {
  //     @apply px-10 py-8 border-solid border-accent;
  //     border-left-width: 2px;
      
  //     p {
  //       margin: 0;
  //       &:not(:last-child) {
  //         margin-bottom: 20px;
  //       }
  //     }

  //     footer {
  //       @apply text-base;
  //     }

  //     cite {
  //       @apply italic;
  //     }
  //   }

  //   &-bq {
  //     @apply pl-12;
  //     position: relative;

  //     &:before {
  //       @apply bg-light-200;
  //       content: '“';
  //       position: absolute;
  //       left: -30px;
  //       top: 10px;
  //       border-radius: 50%;
  //       width: 60px;
  //       height: 60px;
  //       text-align: center;
  //       padding-top: 40px;
  //       font-size: 70px;
  //       display: flex;
  //       justify-content: center;
  //       align-items: center;
  //     }
  //   }

  // .figurecode {
  //   position: relative;
  //   margin-bottom: 40px;

  //   &__content {
  //     position: relative;
  //   }

  //   &__copy {
  //     @apply absolute z-10 text-xs;
  //     right: 16px;
  //     bottom: 16px;
  //   }

  //   &__caption {
  //     text-align: center;
  //     width: 100%;
  //     font-size: 14px;
  //     margin-top: 8px;

  //     a {
  //       text-decoration: underline;
  //     }
  //   }
  // }
}


