.content__default {
  @apply text-lg block;
  min-height: 150px;

  p {
    word-wrap: break-word;
    margin-top: 26px;

    abbr {
      cursor: help;
      border-bottom: none;
      text-decoration: underline;
      text-decoration-style: dotted;
    }

    + p {
      margin-bottom: 26px;
    }
  }

  p, ol, ul {
    @apply leading-8;
  }

  h4, h5, h6 {
    .header-anchor {
      @apply hidden;
    }
  }

  h1 {
    @apply font-bold text-4xl;
  }

  h2 {
    @apply font-bold text-3xl mb-0;
    margin-top: 60px;
    z-index: 2;
    line-height: 1.04em;

    + h3 {
      @apply mt-8;
    }

    + p {
      margin-top: 26px;
    }
  }

  h3 {
    @apply text-xl font-bold mt-12;
    line-height: 1.10em;
  }

  h1, h2, h3 {
    @apply relative bg-main text-color;

    .header-anchor {
      @apply text-accent-primary absolute top-0 opacity-0 no-underline;
      position: absolute;
      left: -30px;
      padding-right: 4px;
      z-index: 1;

      &:hover, &:focus {
        opacity: 1 !important;
      }
    }

    &:hover, &:focus-within {
      .header-anchor {
        @apply opacity-25;
      }
    }
  }

  p, li, h2, h3 {
    code {
      @apply font-bold border border-solid p-1 text-lg bg-secondary c-border-color;
    }
  }

  a:not(.header-anchor) {
    @apply relative bg-primary inline-block px-1;
    text-decoration: underline;
    text-decoration-color: var(--accent);

    &:hover {
      @apply border-color bg-secondary;
    }

    .icon.outbound {
      margin-left: 2px;
      color: inherit;
    }
  }

  strong {
    @apply font-bold;
  }

  code, kbd {
    @apply inline rounded;
  }

  kbd {
    @apply text-xl border border-solid border-accent-primary p-1 bg-primary;
    box-shadow: 2.5px 2.5px 0 var(--accent);
  }

  ol, ul {
    padding-left: 1em;
    margin-top: 30px;
    margin-bottom: 40px;

    li:not(:last-child) {
      margin-bottom: 16px;
    }

    li {
      p {
        margin: 0;
        display: inline;
      }

      pre code {
        @apply font-normal bg-transparent border-none;
        font-size: inherit !important;
      }
    }
  }

  ul {
    li:before {
      @apply text-accent-primary font-bold inline-block;
      content: "\2022";
      width: 1em;
      margin-left: -1em;
      speak: none;
    }
  }

  .table-wrapper {
    @apply w-full overflow-x-auto whitespace-no-wrap;
    @screen lg {
      @apply whitespace-normal;
    }
  }

  table {
    border: 1px solid var(--primary);
    border-collapse: collapse;
    border-spacing: 0;

    thead {
      tr {
        @apply c-border-color;
      }
    }

    tbody {
      tr {
        &:hover {
          @apply bg-primary;
        }
      }
    }

    td, th {
      border: 1px solid var(--primary);
      padding: .375em .75em;
    }
  }

  hr {
    @apply border c-border-color my-4;
  }

  video, audio {
    @apply max-w-full;
  }

  img {
    @apply w-full max-w-full shadow-lg rounded-lg mx-auto;
    margin-top: 30px;
    margin-bottom: 30px;
  }

  .observer {
    @apply text-center;
  }

  code[class*=language-], pre[class*=language-] {
    @apply text-base w-full bg-none whitespace-pre leading-6 m-0 break-normal;
    word-spacing: normal;
    word-wrap: normal;
    tab-size: 4;
    hyphens: none;
    font-weight: 400;

    @screen sm {
      @apply whitespace-pre-wrap;
    }
  }

  pre[class*=language-] {
    @apply p-6 relative overflow-auto;
    z-index: 2;

    code {
      @apply w-full m-0 p-0;
      font-family: 'Hack', monospace;
    }
  }

  div[class*=language-] {
    @apply relative w-full whitespace-normal mt-4 mb-8;

    + p {
      @apply mt-0;
    }
  }

  figure [class*=language-] {
    margin-bottom: 0;
  }

  .highlight-lines {
    @apply absolute top-0 left-0 w-full;
    line-height: initial;
    z-index: 1;
    height: 100%;
    padding: 1.5rem 0;

    .highlighted {
      background-color: rgba(0, 0, 0, .5);
    }
  }

  iframe {
    margin-top: 20px;
    margin-bottom: 20px;
  }

  /**
  * a11y-dark theme for JavaScript, CSS, and HTML
  * Based on the okaidia theme: https://github.com/PrismJS/prism/blob/gh-pages/themes/prism-okaidia.css
  * @author Alan Ktquez
  */

  code[class*="language-"],
  pre[class*="language-"] {
    color: var(--token);
    background: none;
    text-align: left;
    white-space: pre;
    word-spacing: normal;
    word-break: normal;
    word-wrap: normal;
    line-height: 1.5;

    -moz-tab-size: 2;
    -o-tab-size: 2;
    tab-size: 2;

    -webkit-hyphens: none;
    -moz-hyphens: none;
    -ms-hyphens: none;
    hyphens: none;
  }

  /* Code blocks */
  pre[class*="language-"] {
    @apply relative bg-main shadow;
    margin: .5em 0;
    overflow: auto;
    border-radius: 0.3em;
  }

  &:not(pre) > code[class*="language-"], pre[class*="language-"] {
    background: var(--code-block);
  }

  /* Inline code */
  &:not(pre) > code[class*="language-"] {
    padding: .1em;
    border-radius: .3em;
    white-space: normal;
  }

  .token.comment,
  .token.prolog,
  .token.doctype,
  .token.cdata {
    color: slategray;
  }

  .token.punctuation {
    color: var(--token);
  }

  .namespace {
    opacity: .7;
  }

  .token.property,
  .token.tag,
  .token.constant,
  .token.symbol,
  .token.boolean,
  .token.number,
  .token.deleted {
    color: var(--token-tag);
  }

  .token.selector,
  .token.attr-name,
  .token.string,
  .token.char,
  .token.builtin,
  .token.inserted {
    color: var(--token-str);
  }

  .token.operator,
  .token.entity,
  .token.url,
  .language-css .token.string,
  .style .token.string,
  .token.variable {
    color: var(--token-str);
  }

  .token.atrule,
  .token.attr-value,
  .token.function,
  .token.class-name {
    color: var(--token-fn);
  }

  .token.keyword {
    color: var(--token-keyword);
  }

  .token.regex,
  .token.important {
    color: #fd971f;
  }

  .token.important,
  .token.bold {
    font-weight: bold;
  }
  .token.italic {
    font-style: italic;
  }

  .token.entity {
    cursor: help;
  }
}
