.icon.outbound {
  color: var(--color) !important;
}

ul.pagination {
  .page-item {
    &.active > a {
      @apply font-bold;
      color: #000 !important;
      background-color: var(--accent);
    }    
  }

  li:not(.disabled) {
    > a {
      color: var(--color) !important;
    }
  }
  
  li > a {
    @apply px-5 py-2 text-xl bg-main c-border-color;

    &:hover {
      @apply bg-primary c-border-color;
    }
  }

  li.disabled {
    > a {
      opacity: .5;
      color: var(--color) !important;
      background-color: var(--primary);
      border-color: var(--primary);
    }
  }
}
