:root {
  --bg: white;
  --accent: theme('colors.accent');
  --color: theme('colors.gray.800');
  --bg-sidebar: theme('colors.light.200');
  --bg-hover-sidebar: theme('colors.light.400');
  --border-color-code-inline: theme('colors.light.400');

  --bg-code-block: theme('colors.dark.700');
  --toc-w-size: 290px;
  --bg-left: linear-gradient(90deg, var(--bg-sidebar) calc(100% - 13px), transparent 13px);
}

html.dark-mode {
  --bg: theme('colors.dark.700');
  --accent: theme('colors.accent');
  --color: theme('colors.gray.200');
  --bg-sidebar: theme('colors.dark.500');
  --border-color-code-inline: theme('colors.light.200'); // change
}


html.sepia-mode {
  --bg: theme('colors.sepia.200');
  --accent: theme('colors.accent');
  --color: theme('colors.sepia.text');
  --bg-sidebar: theme('colors.sepia.400');
  --border-color-code-inline: theme('colors.light.200'); // change
}
