:root {
  // Layout
  --toc-w-size: 290px;

  // Background and Colors
  --bg: white;
  --color: theme('colors.gray.800');
  --accent: #41B883;
  --accent-secondary:#45A278;
  --primary: #F4F7F7;
  --secondary: #E9F0F0;
  --sidebar: linear-gradient(90deg, var(--primary) calc(100% - 13px), transparent 13px);
  --bg-code-block: #212529;
  --bg-header-code:#12181E;
  --color-social-icons: var(--color);

  --bg-custom-block-tip: var(--primary);
  --border-color-custom-block-tip: var(--accent);
  --bg-custom-block-warning: #f8f0e3;
  --border-color-custom-block-warning: #f8e1bb;
  --bg-custom-block-danger: #ffece9;
  --border-color-custom-block-danger: #ffc4bb;

  // Ver como resolver isso para as configurações
  --border-color: var(--secondary);
  --bg-input: var(--bg);

  // Font
  --rf-open-dyslexic: OpenDyslexic, sans-serif;
  --rf-monospace: Consolas, monospace, Courier;
  --rf-serif: "Book Antiqua", Palatino, "Palatino Linotype", Georgia, "Times New Roman", Times, serif;
  
  // Color contrast
  body.set-color-contrast {
    --border-color: theme('colors.gray.500');
    --bg-input: white;
  }
}

html.mode-dark {
  // Background and Colors
  --bg: #12181E;
  --color: theme('colors.gray.300');
  --accent: #41B883;
  --primary:#212529;
  --secondary: #2E3134;
  --color-social-icons: var(--accent-secondary);

  // Custom blocks
  --bg-custom-block-tip: var(--primary);
  --border-color-custom-block-tip: var(--accent);
  --bg-custom-block-warning: var(--primary);
  --border-color-custom-block-warning: #f8e1bb;
  --bg-custom-block-danger: var(--primary);
  --border-color-custom-block-danger: #ffc4bb;

  // Color contrast
  body.set-color-contrast {
    --border-color: theme('colors.gray.700');
  }
}


html.mode-sepia {
  --bg:  #F1E7D0;
  --color: #473742;
  --accent: #41B883;
  --primary: #EBDDBF;
  --secondary: #E3D2AC;
  --bg-input: var(--primary);

  // Custom blocks
  --bg-custom-block-tip: #F1E7D0;
  --border-color-custom-block-tip: var(--accent);
  --bg-custom-block-warning: #f8e1bb;
  --border-color-custom-block-warning: theme('colors.yellow.600');

  // Color contrast
  body.set-color-contrast {
    --border-color: #BEAA7F;
  }
}
