@import './themes';
@import './markdown';
@import './typography';
@import './a11y';
@import './override';

body {
  @apply antialiased;
  font-family: $font-family;
  color: var(--color);
  background-color: var(--bg);
}

.container {
  transition: max-width .5s;
}

.container-layout {
  @screen xl {
    @apply px-0;
    &-px {
      padding-left: 10% !important;
      padding-right: 10% !important;
    }

    &-pl {
      padding-left: 10% !important;
    }

    &-pr {
      padding-right: 10% !important;
    }
  }

  @media (min-width: 1920px) {
    &-px {
      padding-left: 15% !important;
      padding-right: 15% !important;
    }

    &-pl {
      padding-left: 15% !important;
    }

    &-pr {
      padding-right: 15% !important;
    }
  }
}

.btn {
  @apply py-3 px-4 font-bold text-xl;
  max-height: 57px;
  border-bottom: 6px solid transparent;

  &-light {
    @apply bg-light-200;
    border-bottom-color: theme('colors.light.400');
  }

  &-accent {
    @apply bg-accent;
    border-bottom-color: theme('colors.accentDark');
  }
}