@import './themes';
@import './markdown';
@import './typography';
@import './a11y';
@import './override';
@import './custom-blocks';

body {
  @apply antialiased;
  font-family: $font-family;
  color: var(--color);
  background-color: var(--bg);
}

.container {
  transition: max-width .5s;
}

.container-layout {
  @screen xl {
    @apply px-0;
    &-px {
      padding-left: 10% !important;
      padding-right: 10% !important;
    }

    &-pl {
      padding-left: 10% !important;
    }

    &-pr {
      padding-right: 10% !important;
    }
  }

  @media (min-width: 1920px) {
    &-px {
      padding-left: 15% !important;
      padding-right: 15% !important;
    }

    &-pl {
      padding-left: 15% !important;
    }

    &-pr {
      padding-right: 15% !important;
    }
  }
}

.btn {
  @apply py-3 px-4 font-bold text-xl rounded-md;
  max-height: 63px;
  border-bottom: 6px solid transparent;

  &-light {
    @apply bg-light-200;
    border-bottom-color: theme('colors.light.400');
  }

  &-accent {
    @apply bg-accent;
    border-bottom-color: theme('colors.accentDark');
  }
}

.box-default {
  @apply border border-solid rounded-md;
  background-color: var(--bg-sidebar);
  border-bottom-width: 6px;
  border-color: var(--bg-hover-sidebar);
}

.card {
  @apply relative flex flex-col justify-between w-full p-5;

  &-title {
    @apply text-4xl font-bold leading-10;
  }

  &-info {
    @apply flex items-end justify-between mt-12;
  }
}

.toc {
  &-title {
    @apply block pl-3 mb-4 text-xl font-bold;
  }

  &-list {
    @apply relative;

    &:before {
      @apply absolute z-20 border-l border-dashed border-gray-400;
      content: '';
      width: 2px;
      left: 28px;
      top: -5%;
      height: 110%;
    }
  }

  &-list-item {
    @apply w-full leading-4;

    a {
      @apply relative inline-block py-3 pl-10 pr-3;

      &:hover, &:focus, &.active {
        background-color: var(--bg-sidebar);

        &:before {
          @apply absolute rounded-full z-10;
          content: '';
          background-color: var(--accent);
          width: 6px;
          height: 6px;
          left: 10px;
          top: 50%;
          margin-top: -3px;
        }
      }
    }
  }
}