@import './themes';
@import './markdown';
@import './typography';
@import './components';
@import './override';
@import './custom-blocks';

body {
  @apply antialiased;
  font-family: $font-family;
  color: var(--color);
  background-color: var(--bg);
}

body.set-open-dyslexic {
	.content__default, .post-page-summary {
		font-family: var(--rf-open-dyslexic);
	}
}

body.set-monospace {
	.content__default, .post-page-summary {
		font-family: var(--rf-monospace);
	}
}

body.set-serif {
	.content__default, .post-page-summary {
		font-family: var(--rf-serif);
	}
}

hr {
  border-color: var(--border-color);
}

.container {
  @apply px-4;
  transition: max-width .5s;
}

.container-layout {
  @apply px-1;

  @media (min-width: 1366px) {
    &-pl {
      padding-left: 8% !important;
    }

    &-pr {
      padding-right: 8% !important;
    }
  }

  @media (min-width: 1920px) {
    &-pl {
      padding-left: 15% !important;
    }

    &-pr {
      padding-right: 15% !important;
    }
  }
}

.box-default {
  @apply border border-solid rounded-md bg-primary;
  border-bottom-width: 6px;
  border-color: var(--border-color);
}